# Dependencies
node_modules/
dist/

# Environment variables
.env

# Data and Logs
data/
data/.openclaw/credentials
logs/
ollama_data/
open_webui_data/

# Secrets
instrucoes.txt

# OS Files
Thumbs.db
.DS_Store

# Custom Ignores
Skills-para-LLMs*.png
data-bkp-*/
multiagents-openclaw/
hermes_data/
hermes_logs/
